form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 20px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.flex_txt_field {
    display: flex;
    justify-content: space-between;
}

#txtEmail{
    margin: 0 0;
}


.flex_txt_field .txt_field{
    width: 48%;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #1744A6;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #1744A6;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
.note{
    /*margin: -5px 0 20px 5px;*/
    color: #a6a6a6;
    /*cursor: pointer;*/
    font-size: 11px;
    /*margin: 10px 0;*/
    margin-bottom: 10px;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #1744A6;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 11px;
    color: #666666;
    margin: 10px 0;
}
.signup_link a{
    color: #1744A6;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}

*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
}

.clear{
    clear: none;
}

.container-left{
    background-color: #1744a6;
    float: left;
    width: 40%;
    height: 100%;
    position:relative ;
}

.container-right{
    background-color: #FFFFFF;
    float: left;
    width: 60%;
    height: 100%;
}

.login-logo {
    left: 28%;
    width: 40%;
    top: 5%;
    display: block;
    position: absolute;
}

.login-image-1 {
    bottom: 7%;
    left:25%;
    width: 90%;
    position: absolute;
}

.line-login {
    width: 100%;
    height: 1px;
    border-width:0;
    color:#1744A6;
    background-color:#1744A6;
    position: absolute;
    top: 93%;
}

.container-right form {
    position: absolute;
    width: 400px;
    height: 500px;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 19px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

}
.container-right h1{
    text-align: center;
    color: #1744A6;
    font-family: Poppins, sans-serif;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 20px 0;
    border-bottom: 0;
}

.container-right .sign-in{
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-top: 15px;
}

.container-right .welcome{
    font-family: Poppins, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}

.container-right form{
    padding: 0 40px;
    box-sizing: border-box;
}
a{
	text-align: center;
	font-weight:bold;
	font-size: 13pt;
	text-decoration: none;
	color: black;
}



































