*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  min-height: 100vh;
}
li{
  list-style: none;
  color: white;
}
h1{
  color: white;
}
a{
  text-decoration: none;
}

.btn{
  background: #1744A6;
  color: white;
  padding: 5px 10px;
  text-align: center;
}
.btn:hover{
  color: #1744A6;
  background: #b3d4fc;
  padding: 3px 8px;
  border: 2px solid #1744A6;
}
.side-bar{
  position: fixed;
  background: #1744A6;
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.side-bar .logo-name{
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-name img{
  width: 140px;
  height: 80px;
  position: center;
}
/*.menu img:hover{*/
/*  background: #1744A6;*/
/*  border: 2px solid #1744A6;*/
/*}*/
.menu{
  padding-top: 50px;
}
.menu img{
  width: 30px;
  height: 30px;
}
.active{
  padding: 10px;
  color: white;
}
.side-bar li{
  font-size: 24px;
  padding: 10px 40px;
  display: flex;
  align-items: center;
}

/*.side-bar li:hover{*/
/*  background: white;*/
/*  color: #1744A6;*/
/*}*/
.container{
  position: absolute;
  right: 0;
  width: 80vw;
  height: 100vh;
  background: #f1f1f1;
}
.container .header{
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 10vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
}
.container .header .nav{
  width: 90%;
  display: flex;
  align-items: center;
}
.container .header .nav .search{
  margin-left: 50px;
  flex: 3;
  /*background: #b3d4fc;*/
  display: inline-flex;
  align-items: center;
}
.container .header .nav .search input[type=text]{
  border: none;
  background: #f1f1f1;
  padding: 10px;
  width: 50%;
}
.container .header .nav .search button{
  width: 35px;
  height: 35px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .header .nav .search button img{
  width: 30px;
  height: 30px;

}
.user{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}
.container .header .nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header .nav .user img{
  width: 30px;
  height: 30px;
}
.container .header .nav .user .img-design{
  position: relative;
  width: 30px;
  height: 30px;
}
.container .header .nav .user .img-design img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bell>img{
  height: 30px;
  width: 30px;
}
.img-design>img{
  height: 50px;
  width: 50px;
}
.container .content{
  position: relative;
  margin-top: 10vh;
  min-height: 90vh;
}
.container .content .cards{
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .content .cards .card{
  width: 250px;
  height: 150px;
  background: white;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.container .content .cards .card .icon-design img{
  width: 60px;
  height: 60px;
}
.container .content .content-ii{
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
